/* style of button */
body {
    background: #303841;
    color: #000000;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#types {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Open Sans';
    position: absolute;
    top: 200px;
    width: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

#log {
    height: 50px;
    padding-left: 3%;
}

.button {
    padding-top: 20px;
}

#image-banner {
    background-image: url('../../assets/img/orange.jpg');
    background-size: cover;
    position:relative;
    width: 100%;
    height: 300px;
}
#text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 90px;
    top: 40px;
    width: 100%;
    font-family: 'Open Sans'
}
#descript {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 30px;
    top: 150px;
    width: 100%;
    color: gray;
}

#title {
    text-align: left;
    font-size: 40px;
    padding-left: 10px;
    font-family: 'Open Sans'
}

#toggleButton {
    width: 100px;
    left: 10;
    display: block;
    position: relative;
    float: right;
    margin: auto;
    font-family: sans-serif;
    font-weight: bold;
    color: #4e3f30;
    padding: 10px 18px;
    border-radius: 21px;
    white-space: nowrap;
    background-color: transparent;
    background-image: radial-gradient(#67523e 0,#67523e 75%,transparent 0,transparent 100%);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    border: 1px solid #67523e;
    transition: 0.2s;
    cursor: pointer;
  }
  
  #toggleButton:hover {
    color: #ebf6e0;
    background-size: 105% 150%;
  }
  
  /* dark mode styles */
  
  .dark-mode {
    background: #f8ebbc;
    color: #816C61;
  }
  
  .dark-mode .container {
    background: #8390FA;
  }
  
  .dark-mode h1 {
    color: #220C10;
  }
  .boxes {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;

  }
  .land {
    padding-top: 5%;
    min-height: 100vh;
    display:flex;
    justify-content: center;


  }